@using Hotel.Models.ViewModels
@model RicercaPrenotazioneByTipoPensioneViewModel

<link rel="stylesheet" href="~/css/creazioni.css" />
@{
    ViewData["Title"] = "Ricerca per Tipo Pensione";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <form id="searchByTipoPensioneForm" method="post" asp-action="RicercaByTipoPensione">
        @Html.AntiForgeryToken()
        <div class="form-group d-flex flex-column align-items-center">
            <label asp-for="TipoPensione" class="control-label text-center fs-2">Tipo di Pensione:</label>
            <select asp-for="TipoPensione" class=" fs-2" style="width:60% ;padding-left:15px;">
                <option value="">Seleziona un tipo di pensione</option>
                <option value="Prima Colazione">Prima Colazione</option>
                <option value="Pensione Completa">Pensione Completa</option>
                <option value="Mezza Pensione">Mezza Pensione</option>
            </select>
            <span asp-validation-for="TipoPensione" class="text-danger fw-bold"></span>
        </div>
        <div class="centerbtn">
            <button type="submit" class="btns btn-primary">Cerca</button>
        </div>
    </form>
</div>
<a asp-controller="Home" asp-action="Management" class="btn btn-secondary">Indietro</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
