@model Project.Models.Auth.AuthViewModel
<link rel="stylesheet" href="~/css/auth.css" />
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-auth auth-box py-4 px-5">
            <h2 class="text-center fs-1">Accedi</h2>
            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group pb-2">
                    <label class="pb-1 fw-bold fs-4" asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" placeholder='ex."Mario"' />
                    <span asp-validation-for="Username" class="auth-error"></span>
                </div>
                <div class="form-group pb-3">
                    <label class="pb-1 fw-bold fs-4" asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder='ex."Pa$$w0rd"' />
                    <span asp-validation-for="Password" class="auth-error"></span>
                </div>
                <div class="text-center pt-2 pb-3">
                    <button type="submit" class="btn ">Accedi</button>
                </div>
            </form>
            <div class="text-center">
                <a class="switchPage" asp-controller="Auth" asp-action="Register">Non hai ancora un'account? Registrati!</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
