@model AddServizioAggViewModel
<link rel="stylesheet" href="~/css/creazioni.css" />
@{
    ViewData["Title"] = "Aggiungi Servizio Aggiuntivo";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <form asp-action="AddServizioAgg" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="IdServizioAgg" class="control-label">Servizio Aggiuntivo</label>
            <select asp-for="IdServizioAgg" class="form-control">
                <option value="1">Colazione in camera</option>
                <option value="2">Mini bar</option>
                <option value="3">Internet</option>
                <option value="4">Letto aggiuntivo</option>
                <option value="5">Culla</option>
            </select>
            <span asp-validation-for="IdServizioAgg" class="text-danger fw-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="Data" class="control-label"></label>
            <input asp-for="Data" class="form-control" type="date" />
            <span asp-validation-for="Data" class="text-danger fw-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantita" class="control-label"></label>
            <input asp-for="Quantita" class="form-control" />
            <span asp-validation-for="Quantita" class="text-danger fw-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="Prezzo" class="control-label">Prezzo (x quantità)</label>
            <input asp-for="Prezzo" class="form-control" />
            <span asp-validation-for="Prezzo" class="text-danger fw-bold"></span>
        </div>
        <input type="hidden" asp-for="IdPrenotazione" />
        <div class="form-group centerbtn">
            <button type="submit" class="btns btn-primary">Aggiungi Servizio</button>
        </div>
    </form>
</div>
<a asp-controller="Visualizzazioni" asp-action="VisualizzaPrenotazioni" class="btn btn-secondary">Indietro</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
